h1 {
  color: #009900;
  font-style: italic;
}

body {
   background-color: #FDF2E9;
}

p {
}

a {
  background-color: #D6EAF8;
  color: #AEB6BF;
}

h2 {
  color: #F2D7D5;
}

ul {
   color: #E7B5B1;
}

#navbar {
  display: grid;
}

table, tr, td {
  border: 2px solid #D0D3D4;
  border-collapse: collapse;
}
