h1 {
  color: #009900;
  font-family src: url('https://github.com/Garden-of-Vegan/GardenofVegan.github.io/files/5617800/headliner_no_45.zip');
}

body {
   background-color: #FDF2E9;
}

p {
  color: #E7B5B1;
}

a {
  background-color: #D6EAF8;
  color: #AEB6BF;
  text-align: center;
}

h2 {
  color: #F2D7D5;
  text-align: center
}
h3{
  
}
ul {
   color: #E7B5B1;
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: right;
   border: 2px solid #D0D3D4;
}

div.navbar {
  display: grid;
  text-align: center;
}

table, tr, td {
  border: 2px solid #D0D3D4;
  border-collapse: collapse;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  height: 500px;
}

div.gallery3 {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 100px;
  height: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #009900;
}
